@font-face {
    font-family: ops; /* Гарнитура шрифта */
    src: url(111.ttf); /* Путь к файлу со шрифтом */
   }

body{
	margin: 0px;
	font-family: ops;
}

#fon_1{
	background-image: url("top.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 950px;
}

p{
	color: white;
	margin-left: 140px;
}

h1{
	color: white;
	font-size: 88px;
	margin-left: 140px;
	margin-top: 100px;
	text-align: left;
	width: 300px;
}

#menu {
	display: flex;
	justify-content: right;
}

#menu a {
	margin-right: 5px;
	margin-left: 50px;
	margin-top: 100px;
	font: 15px ;
	text-decoration: none;
	color: white;
}

#menu .m {
	margin-right: 30px;
	margin-left: 10px;
	padding: 20px;
	margin-top: 80px;
	font: 15px ;
	text-decoration: none;
	color: white;
	border: 1px solid white;
}

#menu .m:hover, #menu .m.active {
	color: white;
	border: 1px solid white;
	box-shadow: 1px 10px 10px rgba(36, 36, 36, 0.5); 
}

#menu2 {
	display: flex;
	margin-left: 140px;
	margin-top: 50px;
}

#menu2 a {
	margin-right: 5px;
	padding: 10px;
	width: 150px;
	font: 15px;
	text-decoration: none;
	color: black;
	background-color: #FC5107;
	text-align: center;
}

#menu2 a:hover, #menu a.active {
	color: black;
	background-color: #cc5200;
}

#fon_2{
	background-image: url("center.png");
	background-size: 50%;
	background-repeat: no-repeat;
	height: 950px;
	margin-top: 0px;
}

h2{
	color: black;
	font-size: 64px;
	margin-left: 1150px;
	margin-top: 0px;
	text-align: left;
	font-style: normal;
}

#centerp{
	text-align: left;
	margin-top: 0px;
	color: black;
	margin-left: 1150px;
	width: 500px;
}

#fon_3{
	background-image: url("center2.png");
	background-size: 50%;
	background-repeat: no-repeat;
	height: 950px;
}